.payment {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
  }
  
  .heading {
    color: white;
    padding-bottom: 20px;
  }
  
  .HomePage-Button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(83, 156, 246);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .HomePage-Button:hover {
    background-color: rgb(63, 136, 226);
  }
  
  .card-element {
    margin-top: 20px;
  }
  
  .payment-button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .payment-button:hover {
    background-color: #45a049;
  }
  